In [15]:
# Dependencies
import pandas as pd

In [16]:
# load CSV
file = "/Users/nicko/Python-Pandas-Challenge/03-Pandas-Project/Mini-Project-Part-1/Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [18]:
# Read with pandas--low_memory required to suppress errors about mixed data types
fcc_new = pd.read_csv(file,encoding= 'iso-8859-1',low_memory=False)
fcc_new.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [ ]:
# Take only columns 0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111

In [ ]:
# Change reading 0 and 1 to No and Yes, respectively

In [ ]:
# Extract rows for only those who attended a bootcamp

In [ ]:
# Create DataFrame of the different boot camps that had a significant number of attendees

In [ ]:
# Count how many attendees of each bootcamp would recommend the bootcamp

In [ ]:
# Merge the two created data frames on the name of tbe bootcamp

In [ ]:
# Calculate percentage of eac bootcamp's students who are recommenders

In [ ]:
# Export to excel and remove index