In [46]:
import pandas as pd

csv_data_path = "Resources/purchase_data.csv"

Heroes_df = pd.read_csv(csv_data_path)
Heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

In [47]:
player_count = len(pd.value_counts(Heroes_df["SN"]))
print(f'TOTAL NUMBER OF PLAYERS = {player_count}')

TOTAL NUMBER OF PLAYERS = 576

# Purchasing Analysis (Total)

In [48]:
# number of unique items
Unique_items = len(pd.value_counts(Heroes_df["Item Name"]))
Unique_items

179

In [49]:
# CALCULATE THE AVERAGE PRICE
Average_price= Heroes_df["Price"].mean()
Average_price

3.050987179487176

In [50]:
# TOTAL NUMBER OF PURCHASES
total_purchase = pd.value_counts(Heroes_df["Purchase ID"]).sum()
total_purchase

780

In [51]:
# Total Revenue
total_revenue = Heroes_df["Price"].sum()
total_revenue

2379.77

In [52]:
# print summary of purchasing analysis
summary_Purchase_Ana = {"Total number of players" : [player_count],
                "Number of Unique Items" : [Unique_items],
                "Average Purchase Price" : [Average_price],
                "Total Number of Purchases" : [total_purchase],
                "Total Revenue" : [total_revenue]}
Purchasing_df = pd.DataFrame(summary_Purchase_Ana)
Purchasing_df["Average Purchase Price"] = Purchasing_df["Average Purchase Price"].map("${0:.2f}".format)
Purchasing_df["Total Revenue"] = Purchasing_df["Total Revenue"].map("${0:.2f}".format)
Purchasing_df

,Total number of players,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,576,179,$3.05,780,$2379.77

# Gender Demographics

In [53]:
# Count and Percentage of Male Players

M_players = Heroes_df.loc[Heroes_df["Gender"] == "Male"]
M_count = len(M_players["SN"].unique())
M_percent = "{:.2f}%".format(M_count / player_count * 100)

print(f'Male player count  =  {M_count}')
print(f'Percent Male count =  {M_percent}')

Male player count  =  484
Percent Male count =  84.03%

In [54]:

# Count and Percentage of Female Players
F_players = Heroes_df.loc[Heroes_df["Gender"] == "Female"]
F_count = len(F_players["SN"].unique())
F_percent = "{:.2f}%".format(F_count / player_count * 100)

print(f'Female player count  =   {F_count}')
print(f'Percent Female count =   {F_percent}')

Female player count  =   81
Percent Female count =   14.06%

In [55]:
# Count and Percentage of Other / Non-Disclosed
other_players_non_discl = Heroes_df.loc[Heroes_df["Gender"] == "Other / Non-Disclosed"]
other_players_count = len(other_players_non_discl["SN"].unique())
other_players_percent = "{:.2f}%".format(other_players_count / player_count * 100)

print(f'Other Non Disclosed Count   =   {other_players_count}')
print(f'Percent Other Non Disclosed =   {other_players_percent}')

Other Non Disclosed Count   =   11
Percent Other Non Disclosed =   1.91%

In [56]:
# Create Summary DataFrame
gender_demographics = pd.DataFrame([{
    "Gender": "Male", "Total Count": M_count, 
    "Percentage of Players": M_percent}, 
    {"Gender": "Female", "Total Count": F_count, 
     "Percentage of Players": F_percent}, 
    {"Gender": "Other / Non-Disclosed", "Total Count": other_players_count, 
     "Percentage of Players": other_players_percent
    }], columns=["Gender", "Total Count", "Percentage of Players"])

gender_demographics = gender_demographics.set_index("Gender")
gender_demographics.index.name = None
gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%



# Purchasing Analysis (Gender)

In [57]:
# Purchase Count of Male Players
m_purchase = Heroes_df.loc[Heroes_df["Gender"] == "Male", :]
m_purchase_count = len(m_purchase)

# Average Purchase Price of Male Players
avg_male_purchase_price = Heroes_df.loc[Heroes_df["Gender"] == "Male", ["Price"]].mean()

# Total Purchase Value of Male Players
total_male_purchase_value = Heroes_df.loc[Heroes_df["Gender"] == "Male", ["Price"]].sum()

# Purchase Count of Female Players
f_purchase = Heroes_df.loc[Heroes_df["Gender"] == "Female", :]
f_purchase_count = len(f_purchase)

# Average Purchase Price of Female Players
avg_female_purchase_price = Heroes_df.loc[Heroes_df["Gender"] == "Female", ["Price"]].mean()

# Total Purchase Value of Female Players
total_female_purchase_value = Heroes_df.loc[Heroes_df["Gender"] == "Female", ["Price"]].sum()

# Purchase Count of Other / Non-Disclosed Players
other_purchase = Heroes_df.loc[Heroes_df["Gender"] == "Other / Non-Disclosed", :]
other_purchase_count = len(other_purchase)

# Average Purchase Price of Other / Non-Disclosed Players
avg_other_purchase_price = Heroes_df.loc[Heroes_df["Gender"] == "Other / Non-Disclosed", ["Price"]].mean()

# Total Purchase Value of Other / Non-Disclosed Players
total_other_purchase_value = Heroes_df.loc[Heroes_df["Gender"] == "Other / Non-Disclosed", ["Price"]].sum()

# Average Purchase Total per Person by Gender
avg_m_purchase_total_person = total_male_purchase_value / M_count
avg_f_purchase_total_person = total_female_purchase_value / F_count
avg_other_purchase_total_person = total_other_purchase_value / other_players_count


# Create Summary DataFrame
gender_purchasing_analysis  = pd.DataFrame([{
     "Gender": "Male", "Purchase Count": m_purchase_count, 
     "Average Purchase Price": "${:.2f}".format(avg_male_purchase_price[0]), 
     "Total Purchase Value": "${:,.2f}".format(total_male_purchase_value[0]), 
     "Avg Total Purchase per Person": "${:.2f}".format(avg_m_purchase_total_person[0])}, 
    
   { "Gender": "Female", "Purchase Count": f_purchase_count, 
     "Average Purchase Price": "${:.2f}".format(avg_female_purchase_price[0]), 
     "Total Purchase Value": "${:.2f}".format(total_female_purchase_value[0]), 
     "Avg Total Purchase per Person": "${:.2f}".format(avg_f_purchase_total_person[0])}, 
    
    {"Gender": "Other / Non-Disclosed", "Purchase Count": other_purchase_count, 
     "Average Purchase Price": "${:.2f}".format(avg_other_purchase_price[0]), 
     "Total Purchase Value": "${:.2f}".format(total_other_purchase_value[0]), 
     "Avg Total Purchase per Person": "${:.2f}".format(avg_other_purchase_total_person[0])
    }], columns=["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"])

gender_purchasing_analysis = gender_purchasing_analysis.set_index("Gender")
gender_purchasing_analysis.index.name = None
gender_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56



# Age Demographics

In [58]:
# Establish Bins for Ages & Create Corresponding Names For Bins
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]
groups_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Place Data Series Into New Column Inside DataFrame
Heroes_df["Age Group"] = pd.cut(Heroes_df["Age"], bins=age_bins, labels=groups_names)
Heroes_df

# Create a GroupBy Object Based Upon "Age Group"
age_group = Heroes_df.groupby("Age Group")

# Count Total Players by Age Category
total_count_age = age_group["SN"].nunique()

# Calculate Percentages by Age Category 
percentage_by_age = round(total_count_age / player_count * 100,2)

# Create Summary DataFrame
age_demographics = pd.DataFrame({
    "Total Count": total_count_age, 
    "Percentage of Players": percentage_by_age
})

age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{0:,.2f}%".format)
age_demographics.index.name = None
age_demographics

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [59]:
#Establish Bins for Ages & Create Corresponding Names For The Bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]
groups_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Place Data Series Into New Column Inside DataFrame
Heroes_df["Age Group"] = pd.cut(Heroes_df["Age"], bins=age_bins, labels=groups_names)

# Calculate "Purchase Count"
age_purchase_count = age_group["SN"].count()

# Calculate "Average Purchase Price"
avg_age_purchase_price = round(age_group["Price"].mean(),2)

# Calculate "Total Purchase Value"
total_age_purchase_value = round(age_group["Price"].sum(),2)

# Calculate "Avg Total Purchase per Person"
avg_total_age_purchase_person = round(total_age_purchase_value / total_count_age,2)

# Create Summary DataFrame
age_purchasing_analysis = pd.DataFrame({
    "Purchase Count": age_purchase_count, 
    "Average Purchase Price": avg_age_purchase_price,
    "Total Purchase Value": total_age_purchase_value,
    "Avg Total Purchase per Person": avg_total_age_purchase_person
})

age_purchasing_analysis["Average Purchase Price"] = age_purchasing_analysis["Average Purchase Price"].map("${0:,.2f}".format)
age_purchasing_analysis["Total Purchase Value"] = age_purchasing_analysis["Total Purchase Value"].map("${0:,.2f}".format)
age_purchasing_analysis["Avg Total Purchase per Person"] = age_purchasing_analysis["Avg Total Purchase per Person"].map("${0:,.2f}".format)
age_purchasing_analysis.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81



# Top 5 Spenders By Total Purchase Value

In [60]:
# Identify the Top 5 Spenders in the Game by Total Purchase Value & GroupBy "SN"
top_spenders = Heroes_df.groupby("SN")

# Calculate "Purchase Count"
spender_purchase_count = top_spenders["Purchase ID"].count()

# Calculate "Average Purchase Price"
average_spender_purchase_price = round(top_spenders["Price"].mean(),2)

# Calculate "Total Purchase Value"
total_spender_purchase_value = top_spenders["Price"].sum()

# Create Summary DataFrame
top_spenders_table = pd.DataFrame({ 
    "Purchase Count": spender_purchase_count,
    "Average Purchase Price": average_spender_purchase_price,
    "Total Purchase Value": total_spender_purchase_value
})

sort_top_spenders = top_spenders_table.sort_values(["Total Purchase Value"], ascending=False).head()
sort_top_spenders["Average Purchase Price"] = sort_top_spenders["Average Purchase Price"].astype(float).map("${:,.2f}".format)
sort_top_spenders["Total Purchase Value"] = sort_top_spenders["Total Purchase Value"].astype(float).map("${:,.2f}".format)
sort_top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10



# 5 Most Popular Items By Purchase Count

In [61]:
# Identify the 5 Most Popular Items by Creating New DataFrame
popular_items_list = Heroes_df[["Item ID", "Item Name", "Price"]]

# GroupBy "Item ID" & "Item Name"
popular_items = popular_items_list.groupby(["Item ID","Item Name"])

# Calculate "Purchase Count"
item_purchase_count = popular_items["Price"].count()

# Calculate "Item Price"
item_price = popular_items["Price"].sum()

# Calculate "Total Purchase Value" 
item_purchase_value = item_price / item_purchase_count

# Create Summary DataFrame
most_popular_items = pd.DataFrame({
    "Purchase Count": item_purchase_count, 
    "Item Price": item_purchase_value,
    "Total Purchase Value": item_price
})

popular_items = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
popular_items["Item Price"] = popular_items["Item Price"].astype(float).map("${:,.2f}".format)
popular_items["Total Purchase Value"] = popular_items["Total Purchase Value"].astype(float).map("${:,.2f}".format)
popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

#  5 Most Profitable Items By Purchase Value

In [62]:
popular_items = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()
popular_items["Item Price"] = popular_items["Item Price"].astype(float).map("${:,.2f}".format)
popular_items["Total Purchase Value"] = popular_items["Total Purchase Value"].astype(float).map("${:,.2f}".format)
popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80